@model CityWeather

<div class="@ViewBag.CssClass flex-borderless">		
	<div class="left-items">
		<div class="font-size bold-text">@Model.CityName</div>
		<div class="text-dark-grey bold-text">@Model.DateAndTime.ToString("hh:mm tt")</div>
		<a href="/weather/@Model.CityUniqueCode">Details</a>
	</div>
	<div class="vertical-line"></div>
	<div class="fahrenheit-font-size bold-text">@Model.TemperatureFahrenheit</div>
	<div class="degree-symbol-style text-grey">°F</div>
</div>