<!DOCTYPE html>
<html>
<head>
	<title>City Not found</title>
	<link rel="stylesheet" href="~/StyleSheet.css" />
	<meta charset="utf-8" />
</head>
<body>
	<div class="center-div">
		<h1>Error city not found</h1>
	</div>
</body>
</html>