@model CityWeather

<div class=@ViewBag.CssClass>		
	<div class="flex-borderless">
		<div  class="left-items">
			<div class="font-size bold-text">@Model.CityName</div>
			<div class="text-grey bold-text">@Model.DateAndTime.ToString("dd MMM yyy")</div>
			<div class="text-grey bold-text">@Model.DateAndTime.ToString("hh:mm tt")</div>
		</div>
		<div class="vertical-line"></div>
		<div class="fahrenheit-font-size bold-text">@Model.TemperatureFahrenheit</div>
		<div class="degree-symbol-style text-grey">°F</div>
	</div>
</div>
